body {
  color: white;
  background-color: #0f0f2a;
  font-family: "Raleway", sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  border-style: outset;
  border-color: #3f4375;
  background-color: #24244c;
}

.rep-info {
  display: flex;
  align-items: center;
  background-color: #24244c;
}

.rep-committiees h4 {
  font-family: "Rambla", sans-serif;
  display: flex;
  border-style: outset;
  border-color: #3f4375;
  background-color: #24244c;
}

.rep-committiees p {
  font-family: "Varela", sans-serif;
}

a {
  font-family: "Varela", sans-serif;

  display: flex;
  margin-top: 250px;
  color: #5ea9cf;
  border-style: outset;
  border-color: #3f4375;
  background-color: #24244c;
}
